*{
    margin: 0;
    padding: 0;
}
body{
box-sizing: border-box;
font-family: sans-serif;
font-size: 15px;
font-weight: bolder;
align-items: center;
text-align: center;

}
#main{
   
    border-radius: 5px;
    padding: auto;
    margin: auto;
}
.nav-menu{
    width: 100%;
    display: flex;
    background-color: #1b1c1d;

}
.nav-menu ul{
    list-style: none;
    margin-top: 1%;
    margin-bottom: 1%;
   margin-left: 1%;
}
.nav-menu ul li{
display: inline;
   padding: 0.5em;
}
.nav-menu ul li a{
text-decoration: none;
font-weight: bold;
text-align: center;
color: aliceblue;
font-size: 20px;
padding: 0.5em;
}
.nav-menu ul li a:hover{
    cursor: pointer;
    background-color: #28292b;
}
.nav-menu ul li a:active{

}
.title{
    min-height: 330px;
    background-color: #1b1c1d;
    width: 100%;
   
}
.title h2{
    font-size: 48px;
    color: aliceblue;
    padding: 3% 0;
    text-align: center;
    top: 50%;
}
.title p{
    color: aliceblue;
    padding: 0.1% 0;
    text-align: center;
    font-size: 18px;
}
.main-info{
    background-color: #fff;
    padding: 0.6em;
}
.more-info{
    width:100%;
    background-color: #fff;   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
   
}
.more-info a{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding: 1em;
   
}
.wiki{
    background-color: #a8abb3;
    border-radius: 5%;
    padding: 1% 0;
    margin: 1%;
   
}
.wiki:hover{
    background-color: #9c9ea5; 
    cursor:pointer;
}
.wiki a {
    color: #fff;
}
.yt{
    background-color: #d94348;
    border-radius: 5%;
    padding: 1% 0;
    margin: 1%;
}
.yt:hover{
    background-color: #ad3337;
}
.yt a{
    color: aliceblue;
}

 .apple{
    margin: 1%;
    border-radius: 5%;
    padding: 1% 0;
    background-color: #2a2b2c;
 }
.apple:hover{
    background-color: #050505;
}

 .apple a{
    color: aliceblue;
 }
img{
    display: block;
}
#image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
footer{
    background-color: #1b1c1d;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2px;
  
}
.tech{
    
}
.technology{
   
    padding: 1% 0;
    text-align: center;
    border-right: 1px solid #9c9ea5;
    width: 33%;
    min-height: 50px;
}
.technology p{
font-size: 12px;
}
.footer{
    padding: 1% 0;
    text-align: center;
      width: 33%;
      min-height: 50px;
      border-right: 1px solid #9c9ea5;
     
}
.footer p{
    padding: 2%;
}
.info{
    padding: 1% 0;
    text-align: center;
      width: 33%;
      min-height: 50px;
}
.info a {
    text-decoration: none;
    color: #9c9ea5; 
}
.info p{
    padding: 2%;
}
.info a:hover{
    cursor: pointer;
    color: #6e7075; 
}
.information{
    width:100%;
    display: flex;
}
.img-info{
width: 50%;
}
.img-info img{
    width: 70%;
    border-radius: 30px;
    border-left: 1px solid  #1b1c1d;;
}
#img-caption{
    width: 30%;
}
.timeline{
width: 50%;
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 100;
}

